@import url(reset-min.css);

html, body {
	height: 100%;
	font-size: 10pt;
}

a {
	text-decoration: none;
}

.clearer {
	clear: both;
}

#container {
	position: relative;
	height: auto !important;
	min-height: 100%;
}

header {
	background: #E5E5E5 url('images/oversim_logo.png') no-repeat left center;
	border-bottom: 1px solid #000;
	height: 60px;
	padding: 5px;
}

nav {
	margin: 10px;
	float: right;
}

nav ul li {
	padding: 5px;
	float: left;
}

#info {
	margin-left: 400px;
}

#queue {
	width: 100%;
	font-size: 0.9em;
	text-align: left;
}

#queue thead tr th, #queue tbody tr td {
	padding: 4px;
}

#queue thead tr th {
	background:#667AB3 none no-repeat center right;
	color: #FFF;
	border-bottom: 1px solid #000;
}

#queue thead tr th.header {
	background-image: url('images/bg.gif');
	cursor: pointer;
}

#queue thead tr .headerSortUp {
	background-image: url('images/asc.gif');
}

#queue thead tr .headerSortDown {
	background-image: url('images/desc.gif');
}

#queue tbody tr.odd td {
	background-color: red;
}

#output {
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 100%;
	border-top: 1px solid #000;
	background-color: #000;
	color: #E5E5E5;
	font-size: 0.9em;
}

#output pre {
	height: 100%;
	overflow: auto;
}
